#iframe-wrapper {
    position:relative;
}
#iframe-overlay { /* Adjust values as needed */
    height:17px;
    width:480px;
    background-color:#fff;
    position:relative;
    top:-24px;
    left:5px;
}